.wrapper {
	max-width: 90rem;
	margin: 0 auto;
}
.offers_carosuel_container {
	border-top: 0.1px solid rgba(46, 46, 51, 0.79);
	margin-top: 3rem;
	padding: 0 1.25rem;
	text-align: center;
}

.offerts_btn {
	margin: 40px;
}
