.navbar {
	background-color: #f4f4f5;
	width: 100%;
	display: flex;
	align-items: center;
	position: fixed;
	box-shadow: 0 1px 15px 10px #333;
	padding: 5px 40px;
	color: #333;
	z-index: 1;
}
.links_container {
	display: flex;
	flex: 1;
	justify-content: center;
}
.link {
	margin: 0 1rem;
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 8px 16px;
	border-radius: 0.25rem;
	background-color: rgb(57, 186, 180);
	font-weight: 500;
	line-height: 1.375;
	color: #fff;
	transition: background-color 0.3s;
}
.button:hover{
	background-color: rgb(66, 209, 202);
}

.logo {
	height: 100%;
	width: 60px;
	padding: 0;
	margin: 0;
}
.burger_icon {
	cursor: pointer;
	z-index: 10;
	display: none;
	color: #39bab4;
}
.mobile_nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1d1d20;
	position: fixed;
}
.mobile_nav div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}
.mobile_link {
	padding: 20px 16px;
	font-size: 2rem;
	color: #fff;
}

@media (max-width: 768px) {
	.navbar {
		justify-content: space-between;
	}
	.links_container {
		display: none;
	}
	.burger_icon {
		display: flex;
		padding: 5px;
	}
}
