.opinion {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 20px;
	width: 45%;
	text-align: center;
}
.avatar_container {
	flex-direction: column;
	display: inline-flex;
	margin-bottom: 1rem;
	position: relative;
}
.avatar {
	border-radius: 9999px;
	width: 56px;
	height: 56px;
	object-fit: cover;
}
.opinion_text {
	font-size: 1rem;
	margin: 0;
	text-align: justify;
}
.opinion_author {
	font-weight: 700;
	margin-top: 0.5rem;
	color: #39bab4;
}
