.opinion_container {
	color: #a2a2a8;
	border-top: 0.1px solid rgba(46, 46, 51, 0.79);
	margin-top: 3rem;
	padding: 0 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.opinions {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}
