.hero {
	position: relative;
	height: 70vh;
	background: linear-gradient(to top, #000, rgba(235, 242, 241, 0.4));
	box-shadow: 0px 20px 20px 5px #000;
}
.outer_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(30%);
	box-shadow: 0px 20px 20px 4px #333;
}

.outer_img {
	opacity: 0.4;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95%;
	height: 60%;
	text-align: center;
}
.list {
	color: #f4f4f5;
	position: absolute;
	top: 80%;
	left: 80%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: 600;
	line-height: 1.4;
	font-size: 1.2rem;
}
.title h1 {
	font-size: 3.5rem;
	color: #f4f4f5;
	line-height: 1.18;
	font-weight: 900;
	position: absolute;
	letter-spacing: -0.02em;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
}
.button {
	position: absolute;
	top: 80%;
	left: 20%;
	transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
	.title h1 {
		font-size: 2rem;
	}
	.button {
		left: 50%;
	}
	.list {
		top: 55%;
		left: 50%;
	}
}
