.button_main {
	padding: 6px 12px;
	border: 2px solid #39bab4;
	border-radius: 12px;
	background-color: rgb(57, 186, 180);
	font-family: 'Gt america standard', sans-serif;
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
}
.button_second {
	padding: 6px 12px;
	border: 2px solid #ED4B5F;
	border-radius: 12px;
	background-color: #ED4B5F;
	font-family: 'Gt america standard', sans-serif;
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
}
