.footer {
	color: #a2a2a8;
	border-top: 0.1px solid rgba(46, 46, 51, 0.79);
	margin-top: 3rem;
	padding: 0 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.footer_cards {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.footer_card {
	padding: 2rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.footer_owner {
	margin: 2.5rem auto;
	color: #f4f4f5;
	font-size: 1rem;
}

.footer_icon {
	font-size: 3rem;
	color: #39bab4;
	margin: 10px;
}
