.navbar_container {
	background-color: #f4f4f5;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	box-shadow: 0 1px 15px 10px #333;
	padding: 10px 20px;
	color: #333;
	z-index: 9;
}
.links_container {
	display: flex;
	flex: 1;
	justify-content: center;
}
.link {
	margin: 0 10px;
}

.logo {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1;
}
.burger_icon {
	cursor: pointer;
	padding-right: 16px;
	z-index: 10;
	display: none;
	color: #39bab4;
}
.mobile_nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1d1d20;
	position: fixed;
}
.mobile_link {
	padding: 20px 16px;
	cursor: pointer;
	font-size: 2rem;
	color: #fff;
}
.mobile_links_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}
@media (max-width: 768px) {
	.navbar_container {
		justify-content: space-between;
	}
	.links_container {
		display: none;
	}
	.burger_icon {
		display: flex;
		padding: 5px;
	}
}
